{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
    {{ block "title" . }}
    {{ end }}
    </title>
    <!-- global CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/footer.css">
    {{ block "css" . }}
    {{ end }}
</head>
<body>

    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Bookings</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Rooms
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/generals-quarters">General's Quarters</a></li>
                  <li><a class="dropdown-item" href="/majors-suite">Major's Suite</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search-availability" tabindex="-1" aria-disabled="true">Book Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
              </li>
            </ul>

          </div>
        </div>
    </nav>

    <!-- content -->
    {{ block "content" . }}

    {{ end }}

    <!-- footer -->
    <div class="row my-footer">
        <div class="col">
            left
        </div>
        <div class="col">
            middle
        </div>
        <div class="col">
            right
        </div>
    </div>

    <!-- global scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- page-specific scripts -->
    <script>
      function Prompt() {
    // toast 
    let toast = function(c) {
        const {
            msg = "", 
            icon = "success",
            position = "top-end",
        } = c;

        const Toast = Swal.mixin({
            toast: true,
            title: msg, 
            position: position,
            icon: icon,
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({})
    }

    // success 
    let success = function(c) {
        const {
            msg = "",
            title = "",
            footer = "",
        } = c;

        Swal.fire({
            icon : 'success',
            title: title,
            icon: icon,
            footer: footer,
        })
    }

    // error 
    let error = function(c) {
        const {
            msg = "",
            title = "",
            footer = "",
        } = c;

        Swal.fire({
            icon : 'error',
            title: title,
            text: msg, 
            footer: footer,
        })
    }

    // custom 
    async function custom(c) {
        const {
            msg = "", 
            title = "",
        } = c;

        const { value: result } = await Swal.fire({
            title: title,
            html: msg,
            // backdrop: true,
            focusConfirm: false,
            showCancelButton: true, 
            // allowOutsideClick: true,
            willOpen: () => {
              if (c.willOpen !== undefined) {
                c.willOpen();
              }
            },
            preConfirm: () => {
              return [
                document.getElementById('start').value,
                document.getElementById('end').value
              ]
            }, 
            didOpen: () => {
                if (c.didOpen !== undefined) {
                  c.didOpen();
                }
            }
        })

        if (result) {
            // if user didn't hit the cancel button
            if (result.dismiss !== Swal.DismissReason.cancel) {
                // check values in result if result is not empty
                if (result.value !== "") {
                    // if there is a call back
                    if (c.callback !== undefined) {
                        // call back the result (ie what user entered)
                        c.callback(result);
                    } 
                } else {
                    // return a false 
                    c.callback(false);
                }
            } else {
                // else if user canceled 
                c.callback(false);
            }
        }
    }

    return {
        toast: toast,
        success: success,
        error: error,
        custom: custom,
    }
}
    </script>
    {{ block "js" . }}

    {{ end }}

</body>
</html>
{{ end }}