{{ template "base" . }}

{{ define "title" }}
Contact
{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="/static/css/contact.css">
{{ end }}

{{ define "content" }}
<div class="container">

    <!-- main image display -->
    <div class="row">
        <div class="col">

        </div>
    </div>

    <!-- title and description -->
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to the Contact page!</h1>
        </div>
    </div>

</div>
{{ end }}