{{ template "base" . }}

{{ define "title" }}
    Contact
{{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="/static/css/make-reservations.css">
{{ end }}

{{ define "content" }}
    <div class="container">
    
        <div class="row">
            <div class="col">
                <h1>Make Reservation</h1>
                <p><strong>Reseration Details</strong></p>
            
                <!-- validation post -->
                <!-- store the emptyReservation into the res variable -->
                {{ $res := index .Data "reservation" }}
                <!-- <form action="" method="POST" class="needs-validation" novalidate> -->
                <form action="" method="post" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

                    <!-- first name -->
                    <div class="form-group mt-3">
                        <label for="first_name">First name:</label>
                        <!-- if there is an error associated with the first_name -->
                        {{ with .Form.Errors.Get "first_name" }}
                            <label class="text-danger" for="">{{ . }}</label>
                        {{ end }}
                        <input type="text" name="first_name" 
                            id="first_name" 
                            class='form-control {{ with .Form.Errors.Get "first_name" }} is-invalid {{ end }}' 
                            value="{{ $res.FirstName }}"
                            required autocomplete="off" />
                    </div>
                
                    <!-- last name -->
                    <div class="form-group pt-3">
                        <label for="last_name">Last name:</label>
                        {{ with .Form.Errors.Get "last_name" }}
                            <label class="text-danger" for="">{{ . }}</label>
                        {{ end }}
                        <input type="text" name="last_name" 
                            id="last_name" 
                            class='form-control {{ with .Form.Errors.Get "last_name" }} is-invalid {{ end }}' 
                            value="{{ $res.LastName }}"
                            required autocomplete="off" />
                    </div>

                    <!-- start date -->
                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <input type="text" name="start_date" id="start_date" class="form-control">
                    </div>

                    <!-- end date -->
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input type="text" name="end_date" id="end_date" class="form-control">
                    </div>

                    <!-- room id -->
                    <input type="hidden" name="room_id" value="1">
                
                    <!-- email -->
                    <div class="form-group pt-3">
                        <label for="email">Email:</label>
                        {{ with .Form.Errors.Get "email" }}
                            <label class="text-danger" for="">{{ . }}</label>
                        {{ end }}
                        <input type="email" name="email" 
                            id="email" 
                            class='form-control {{ with .Form.Errors.Get "email" }} is-invalid {{ end }}' 
                            value="{{ $res.Email }}"
                            required autocomplete="off" />
                    </div>
                
                    <!-- phone number -->
                    <div class="form-group pt-3">
                        <label for="phone">Phone number:</label>
                        {{ with .Form.Errors.Get "phone" }}
                            <label class="text-danger" for="">{{ . }}</label>
                        {{ end }}
                        <input type="tel" name="phone" 
                            id="phone" 
                            value="{{ $res.Phone }}"
                            class='form-control {{ with .Form.Errors.Get "phone" }} is-invalid {{ end }}' 
                            pattern="([0-9]{1}[-\/])?[0-9]{3}[-\/]?[0-9]{3}[-\/]?[0-9]{4}" 
                            class="form-control" 
                            required autocomplete="off" />
                    </div>
                
                    <hr>
                
                    <input type="submit" class="btn btn-primary" value="Make Reservation">
                
                </form>
            </div>
        </div>
    </div>
{{ end }}

{{ define "js" }}
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/reservations.js"></script>
{{ end }}